.background {
  height: 520px;
  background-color: rgb(214, 212, 212);
}

.div-bg {
  height: 450px;
  margin: 100px 0 0 0 !important;
  background-image: url(./red-black-brush-stroke-banner-background-perfect-canva.jpg);
  background-size: cover;
  border-radius: 10px;
  /* margin-top: 50px !important; */
}

.content-bg {
  height: 290px;
  background-color: #ffffff;
}

.input-box {
  display: flex;
  align-items: center;
}
.chat-input {
  border: none;
  outline: none;
  margin: 8px 0 8px 8px;
  height: 2.2rem;
  width: 79%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.chat-input::placeholder {
  padding: 0 0 5px 10px;
  font-size: 1.1rem;
}

.message-btn {
  height: 2.2rem;
  border: none;
  padding: 4px 6px;
  width: 16%;
  margin: 5px 0 5px 2px;
  font: 1rem;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.space {
  font-family: "Courier New", Courier, monospace;
}
.scroller {
  width: 300px;
  height: 280px;
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar{
    display:none;
}
.texx
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cl
{
  padding-left: 30px;
}
