.bg {
  background-image: url(./images/red-black-brush-stroke-banner-background-perfect-canva.jpg);
  background-position: 100%;
  background-size: cover;
  color: white;
  padding: 3cm;
}
* {
  font-family: "montserrat";
}
.bgg {
  background-color: rgba(128, 128, 128, 0.327);
}
.box {
  background-image: url(./images/excavator-action.jpg);
  background-position: 100%;
  background-size: cover;
  padding: 200px;
}
/* h5{ text-align: center;
    padding: 3cm;
    background-color: rgb(151, 145, 145);
} */
#in{
padding: 10px 50px;
margin: 0.2cm;

}
.buttonname{
  background-color:#fcc236;
  padding: 6px 264px;
  margin-left: 7px;
  border-radius: 4px;
border-color: white;
color: white;
font-weight: 900;
}
#mailbox{
  padding: 8px 4cm;
  border-color: white;
  border-style: none;
 border-bottom: 1px rgba(183, 175, 175, 0.653) solid;
}#active{
  color: rgb(252, 253, 255)
  ;

  font-size: 19px;
}
#btn{
 background-color: #fcc236;
 color: white;
 padding: 10px 30px;
border-bottom: 2px red solid;
 font-weight: 700;
 border-style: none;
}
p{
  color: grey;
  font-family: "open sans";
}
/* footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
background-image: url(./images/red-black-brush-stroke-banner-background-perfect-canva.jpg);
background-position: 100%;
background-size: cover;
position: relative;
text-decoration: none;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #d6ab60;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #fef8f8;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;

    color: #f8f0f0;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background:#d6ab60;
}
.footer-widget-heading h3 {
color: rgb(5, 4, 4);
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background:#d6ab60;
}
.footer-widget ul li {
display: inline-block;
/* float: left; */
width: 50%;
margin-bottom: 12px;
/* text-decoration: none!important; */
}
.footer-widget ul li a:hover{
color: #d6ab60;
}
.footer-widget ul li a {
color: #f7efef;
text-transform: capitalize;
text-decoration: none;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid#d6ab60;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #d6ab60;
text-decoration: none;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #d6ab60;
}
.footer-menu li a {
font-size: 14px;
text-decoration: none;
color: #878787;
}
  
